In [1]:
import pandas as pd
df = pd.read_csv('RFM_data_CK.csv')
df

,CustomerID,Recency,Frequency,Monetary,RFM_Recency,RFM_Frequency,RFM_Monetary,RFM_Score
0,30078,3785,1,1.3740,1,1,1,111
1,28094,3761,1,2.2900,1,1,1,111
2,28300,3712,1,2.2900,2,1,1,211
3,27993,3688,1,2.2900,2,2,1,221
4,28095,3635,1,2.2900,2,2,1,221
...,...,...,...,...,...,...,...,...
9882,29614,3541,12,803769.8509,4,5,5,455
9883,30117,3511,12,817127.8029,4,5,5,455
9884,29715,3480,12,853850.6395,5,5,5,555
9885,29722,3480,12,860147.5110,5,5,5,555
9886,29818,3511,12,882276.4966,4,5,5,455

In [2]:
# Đặt tên các phân khúc khách hàng
segment_names = ["Champions", "Loyal Customers", "Potential Loyalist",
                 "New Customers", "Promising", "Need Attention", 
                 "About To Sleep", "At Risk", "Can't Lose Them", "Lost"]

# Định nghĩa hàm phân khúc
def rfm_segment(row):
    recency_lower = [4, 2, 3, 4, 3, 2, 2, 1, 1, 1]
    recency_upper = [5, 5, 5, 5, 4, 3, 3, 2, 1, 2]
    frequency_lower = [4, 3, 1, 1, 1, 2, 1, 2, 4, 1]
    frequency_upper = [5, 5, 3, 1, 1, 3, 2, 5, 5, 2]
    monetary_lower = [4, 3, 1, 1, 1, 2, 1, 2, 4, 1]
    monetary_upper = [5, 5, 3, 1, 1, 3, 2, 5, 5, 2]

    for i in range(len(segment_names)):
        condition = (
            (row['RFM_Recency'] >= recency_lower[i]) & (row['RFM_Recency'] <= recency_upper[i]) &
            (row['RFM_Frequency'] >= frequency_lower[i]) & (row['RFM_Frequency'] <= frequency_upper[i]) &
            (row['RFM_Monetary'] >= monetary_lower[i]) & (row['RFM_Monetary'] <= monetary_upper[i])
        )
        if condition:
            return segment_names[i]
    return 'Other'

# Áp dụng hàm rfm_segment để gán phân khúc
df['Segment'] = df.apply(rfm_segment, axis=1)

# Hiển thị kết quả
print(df)

      CustomerID  Recency  Frequency     Monetary  RFM_Recency  RFM_Frequency  \
0          30078     3785          1       1.3740            1              1
1          28094     3761          1       2.2900            1              1
2          28300     3712          1       2.2900            2              1
3          27993     3688          1       2.2900            2              2
4          28095     3635          1       2.2900            2              2
...          ...      ...        ...          ...          ...            ...
9882       29614     3541         12  803769.8509            4              5
9883       30117     3511         12  817127.8029            4              5
9884       29715     3480         12  853850.6395            5              5
9885       29722     3480         12  860147.5110            5              5
9886       29818     3511         12  882276.4966            4              5

      RFM_Monetary  RFM_Score         Segment
0                1        111            Lost
1                1        111            Lost
2                1        211  About To Sleep
3                1        221  About To Sleep
4                1        221  About To Sleep
...            ...        ...             ...
9882             5        455       Champions
9883             5        455       Champions
9884             5        555       Champions
9885             5        555       Champions
9886             5        455       Champions

[9887 rows x 9 columns]

In [4]:
df

,CustomerID,Recency,Frequency,Monetary,RFM_Recency,RFM_Frequency,RFM_Monetary,RFM_Score,Segment
0,30078,3785,1,1.3740,1,1,1,111,Lost
1,28094,3761,1,2.2900,1,1,1,111,Lost
2,28300,3712,1,2.2900,2,1,1,211,About To Sleep
3,27993,3688,1,2.2900,2,2,1,221,About To Sleep
4,28095,3635,1,2.2900,2,2,1,221,About To Sleep
...,...,...,...,...,...,...,...,...,...
9882,29614,3541,12,803769.8509,4,5,5,455,Champions
9883,30117,3511,12,817127.8029,4,5,5,455,Champions
9884,29715,3480,12,853850.6395,5,5,5,555,Champions
9885,29722,3480,12,860147.5110,5,5,5,555,Champions
9886,29818,3511,12,882276.4966,4,5,5,455,Champions

In [3]:
df.to_csv('RFM_data_CK_segments.csv', index=False)